{% extends "base.html" %}
{% block title %}Federated Inventory Management Service{% endblock %}
{% block content %}
<form action="/questions" method = "post">
    <div class="container-fluid">
        <div class="container text-center" style="background-image: url('/static/images/cat.jpg')">
            <p>Q1: Do you have high blood pressure?</p>
              <input type="radio" id="0" name="q1" value="0">
              <label for="q1">Low Blood Pressure</label><br>
              <input type="radio" id="1" name="q1" value="1">
              <label for="q1">High Blood Pressure</label><br>

            <p>Q2: Do you have high cholesterol?</p>
              <input type="radio" id="0" name="q2" value="0">
              <label for="q2">No High Cholesterol</label><br>
              <input type="radio" id="1" name="q2" value="1">
              <label for="q2">High Cholesterol</label><br>

            <p>Q3: What is your BMI? Enter up to 2 D.P</p>
            <label for="q3"></label><br>
            <input type="number" value="0.00" min="0.0" max="99.9" step="0.01" name = "q3"><br>
            <input type="submit" value="Submit">
        </div>
    </div>
</form>
{% endblock %}
