{% extends "base.html" %}
{% block title %}Federated Inventory Management Service{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="container text-center" style="background-image: url('/static/images/cat.jpg')">
        <div class="row align-items-start">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='images/cat.jpg') }}" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Train the Model</h5>
                  <p class="card-text">Training the Model will call a HTTP request from the server side to give you the newest up-to-date model and store it locally and train it locally</p>
                  <a href="/trainModel" class="btn btn-primary">Claim Model!</a>
                </div>
            </div>
              
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='images/cat2.jpg') }}" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Start Predicting Your Health</h5>
                  <p class="card-text">Become Jesus Christ. You are now Jesus Christ. Cat Jesus Christ is also ok.</p>
                  <a href="/questions" class="btn btn-primary">Answer Questions!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='images/cat3.jpg') }}" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Send the Model to the Server</h5>
                  <p class="card-text">Sending the Model to the Server will allow the centralized database to aggregate your model and further improve your future predictions!</p>
                  <a href="/sendModel" class="btn btn-primary">Delivery Service!</a>
                </div>
            </div>

        </div>
      </div>
</div>
{% endblock %}
